html{
    background-color: rgb(50, 50, 50);
}
#img_cokkie{
    display: none;
    position: fixed;
    top: 1.5vh;
    left: 12%;
    width: 3.2rem;
    height: 3.2rem;
}
body{
    display: flex;
    justify-content: center;
    margin: 30vh 0 0 0;
    width: 100%;
    height: 300vh;
}
#bg{
    position: fixed;
    top: 20vh;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 0;
    width: 85%;
    height: auto;
}
#fundo{
    width: 100%;
    height: auto;
    border: solid 0.8rem rgb(25, 25, 25);
    border-radius: 0.4rem;
}
main{
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    float: inline-start;
    flex-wrap: wrap;
}
header{
    background-color: rgb(25, 25, 25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: end;
    z-index: 9;
}
#foto_index{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
    margin-bottom: 0.2rem;
    transition: 0.4s ease;
}
#foto_index:hover{
    box-shadow: 0 0 0.3rem white;
    transform: scale(1.05);
}
#roll{
    display: flex;
    width: 70%;
    height: 6vh;
    justify-content: center;
    margin-bottom: 0.1rem;
}
#roll>a{
    background-color: rgb(50, 50, 50);
    width: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
    overflow: hidden;
    border-radius: 0.2rem;
    transition: 0.2s ease-in;
}
#roll>a:hover{
    background-color: white;
    color: black;
    border: 0.1rem white;
    height: 7vh;
    transform: translateY(-1vh);
    box-shadow: inset 0 0 0.3rem rgb(50, 50, 50);
}
#insta_ico{
    width: 3.2rem;
    height: 3.2rem;
    margin-bottom: 0.2rem;
    border-radius: 100%;
    transition: 0.4s ease;
}
#insta_ico:hover{
    box-shadow: inset 0 0 0.3rem white;
    transform: scale(1.05);
}
.curriculo{
    background-color: rgb(25, 25, 25);
    color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 80vh;
    max-height: 80%;
    height: auto; 
    padding: 1rem 4rem;
    box-sizing: border-box;
}
.curriculo>h1{
    margin-bottom: 4rem ;
    transition: 0.6s ease-out;
}
.curriculo details{
    width: 100%;
}
.curriculo summary{
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.lista-materias{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-left: 1.5rem;
}
.lista-materias a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: white;
    transition: 0.6s ease-out;
}
.curriculo>details>div>a:hover, .curriculo>h1:hover{
    background: linear-gradient(
        90deg,
        #ff0000,
        #ff7b00,
        #ffe600,
        #00ff00,
        #00ffff,
        #0066ff,
        #cc00ff,
        #ff0000
    );
    filter: saturate(150%) brightness(1.3);
    background-size: 300% 100%;
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    animation: rgb-loop 2s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1) translateX(2.5rem);
}
.curriculo>h1:hover{
    transform: translateX(0);
}
footer{
    height: 40vh;
    width: 100%;
    background: rgb(30, 30, 30);
    position: absolute;
    top: 300vh;
    z-index: 1;
}
.barra{
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 34vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#classificacao{
    background-color: rgb(15, 15, 15);
    font-size: 0.8rem;
    color: white;
    width: 14rem;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem 1rem 1rem;
    justify-content: center;
    border: solid 0.1rem black;
    border-radius: 0.6rem;
    text-align: center;
    transition: 0.4s ease-out;
}
#classificacao:hover{
    transform: scale(1.01);
    box-shadow: 0 0 0.5rem white;
}
#classificacao:active{
    opacity: 0;
}
#mais16{
    border-radius: 0.2rem;
    background-color: rgb(25, 25, 25);
    width: 13rem;
    height: 3rem;
    display: flex;
    justify-content: center;
}
#ico16{
    border-radius: 0.6rem;
    width: 3rem;
    height: 3rem;
}
#classificacao>p{
    margin: 0.6rem;
}
#links{
    background-color: rgb(15, 15, 15);
    border-radius: 0.8rem;
    width: 35rem;
    height: 5rem;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: 0.4s ease-out;
}
#links:active{
    box-shadow: 0 0 0.5rem white;
}
.link{
    color: white;
    width: 10rem;
    transition: 0.4s ease-out;
}
.link:hover{
    text-shadow: 0 0 0.5rem white;
}
#links>*{
    text-decoration: none;
}
#ico-apple{
    background-color: rgb(15, 15, 15);
    word-spacing: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10rem;
    width: 6rem;
    height: 6rem;
    transition: 0.4s ease-out;
}
#apple{
    width: 4rem;
    height: 4rem;
    margin-top: 0.4rem;
}
#ico-apple:hover{
    transform: scale(0.02rem);
    box-shadow: 0 0 0.5rem white;
}
#ico-apple:active{
    transform: scale(2);
    box-shadow: 0 0 0 white;
}
#ico-apple>p{
    margin: 0;
}
@keyframes rgb-loop {
    0%   { background-position:   0% 50%; }
    12%  { background-position:  20% 50%; }
    25%  { background-position:  40% 50%; }
    37%  { background-position:  60% 50%; }
    50%  { background-position:  80% 50%; }
    62%  { background-position: 100% 50%; }
    75%  { background-position:  80% 50%; }
    87%  { background-position:  40% 50%; }
    100% { background-position:   0% 50%; }
}