body{
    display: flex;
    justify-content: center;
    margin: 0;
    height: 300vh;
}
.fundo{
    position: fixed;
    width: 85%;
    height: auto;
    margin-top: 20vh;
    border-radius: 0.2rem;
    z-index: 0;
}
main{
    z-index: 1;
}
header{
    background-color: rgb(25, 25, 25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
#foto_index{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
    margin-bottom: 0.1rem;
    transition: 0.4s ease;
}
#foto_index:hover{
    box-shadow: 0 0 0.3rem white;
    transform: scale(1.05);
}
#roll{
    display: flex;
    width: 70%;
    height: 6vh;
    justify-content: center;
    margin-bottom: 0.1rem;
}
#roll>a{
    background-color: rgb(50, 50, 50);
    width: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
    overflow: hidden;
    border-radius: 0.2rem;
    transition: 0.2s ease-in;
}
#roll>a:hover{
    background-color: white;
    color: black;
    border: 0.1rem white;
    height: 7vh;
    transform: translateY(-1vh);
    box-shadow: inset 0 0 0.3rem rgb(50, 50, 50);
}
#insta_ico{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
    transition: 0.4s ease;
}
#insta_ico:hover{
    box-shadow: inset 0 0 0.3rem white;
    transform: scale(1.05);
}
#frase{
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 5rem;
    padding: 1rem;
}